body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    box-sizing: border-box;
}

.generator {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: slateblue;
    color: white;

    &__input-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;
    }

    &__input {
        width: 100%;
        background-color: transparent;
        color: white;
        // border: none;
        border: 2px solid white;
        border-radius: 6px;
        padding: 8px 10px;
        font-size: 1.4rem;
        margin-bottom: 1rem;
        transform: scale(.98);
        transition: transform .15s ease-in;

        &:focus {
            outline: none;
            transform: scale(1);
        }

        &::placeholder {
            color: #fff;
            opacity: .6;
        }
    }

    &__button {
        padding: 10px 25px;
        border-radius: 20px;
        border: none;
        text-transform: uppercase;
        font-size: .8rem;
        font-weight: bold;
        color: white;
        cursor: pointer;
        transition: all .3s ease-in;

        span {
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-background-clip: text;
            -moz-text-fill-color: transparent;
        }

        &:focus {
            outline: none;
        }
    }

    &__output {
        min-height: 40px;
        font-size: 1.6rem;
    }
}


@keyframes hvr-wobble-horizontal {
    16.65% {
      -webkit-transform: translateX(8px);
      transform: translateX(8px);
    }
    33.3% {
      -webkit-transform: translateX(-6px);
      transform: translateX(-6px);
    }
    49.95% {
      -webkit-transform: translateX(4px);
      transform: translateX(4px);
    }
    66.6% {
      -webkit-transform: translateX(-2px);
      transform: translateX(-2px);
    }
    83.25% {
      -webkit-transform: translateX(1px);
      transform: translateX(1px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  .hvr-wobble-horizontal {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-wobble-horizontal:hover, .hvr-wobble-horizontal:focus, .hvr-wobble-horizontal:active {
    -webkit-animation-name: hvr-wobble-horizontal;
    animation-name: hvr-wobble-horizontal;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }